.courseDetails {
	display: flex;
    gap: 12px;
}

.coverImg {
    width: 82px;
    height: 82px;
    border-radius: 10px;
    flex-shrink: 0;
}


@media screen and (min-width: 768px) {
    .courseDetails{
        display: block;
    }

    .coverImg {
        width: 100%;
        height: 230px;
        margin-bottom: 16px;
    }
}