.tagline {
	font-weight: 700;
	color: #222325;
    margin-top: 16px;
}

.companyAddress,
.companyContact {
	font-weight: 400;
	margin-top: 8px;
	color: rgba(51, 51, 51, 0.7);
}

.tagline,
.companyAddress,
.companyContact {
	letter-spacing: 0.2px;
}

.tagline,
.companyAddress,
.companyContact {
	line-height: 19.6px;
}
