.input,
.selection {
	display: block;
	width: 100%;
	height: 36px;
	border: 1px solid #3a354166;
	border-radius: 6px;
	padding: 4px 10px;
	font-size: 1em;
}

.selection#countryCode {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding: 4px 6px;
}

.selection {
	appearance: none;
	background: url("../../../assets/down-arrow.svg") right 10px center / 14px no-repeat;
	cursor: pointer;
}

.selection {
	color: #333;
}

.input#newsletter {
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	padding: 10px 8px;
	margin-bottom: 8px;
	background-color: #fff;
	color: #333;
	font-size: 14px;
	border-radius: 10px;
}

.input#newsletter,
.input#newsletter::placeholder {
	text-align: center;
}

@media screen and (max-width: 576px) {
    .input {
        font-size: 0.875em;
    }
}

@media screen and (min-width: 992px) {
	.input#newsletter {
		height: 58px;
		font-size: 16px;
		margin-bottom: 0;
		text-align: start;
	}

	.input#newsletter,
	.input#newsletter::placeholder {
		text-align: start;
	}

	.input#newsletter::placeholder {
		margin-left: 10px;
	}
}
