.heroku {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-align: center;
	padding: 37px 20px;
	border-radius: 10px;
	background-position: center;
	background-size: cover;
	height: 400px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url(../../../assets/heroku-background.jpeg);
}

.heroku > h3 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 12px;
	line-height: 26.4px;
}

.heroku > p {
	font-size: 14px;
	font-weight: 400;
	line-height: 19.6px;
	margin-bottom: 24px;
}

@media screen and (min-width: 992px) {
	.heroku > h3 {
		font-size: 28px;
	}

	.heroku > p {
		font-size: 16px;
	}
}

@media screen and (min-width: 1200px) {
	.heroku {
		padding: 60px 140px;
	}

	.heroku > h3 {
		font-size: 48px;
		line-height: 52.8px;
	}

	.heroku > p {
		font-size: 16px;
	}
}
