.navbarBrand {
	height: 30px;
	display: flex;
	align-items: center;
}

.navbarBrand > img {
	height: 100%;
}

.navbarBrand.footer {
	display: inline-block;
}

@media screen and (max-width: 768px) {
	.navbarBrand {
		height: 24px;
	}
}