.courseCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 8px;
	border: 1px solid #e7ebea;
	border-radius: 10px;
	padding: 16px;
	flex: 1 1 100%;
	max-width: 100%;
	height: auto;
}

/* .courseCard:first-child {
	margin-top: 24px;
}

.courseCard:not(:last-child) {
	margin-bottom: 24px;
} */

@media screen and (min-width: 768px) {
	.courseCard {
		flex: 1 1 calc(50% - 20px);
		max-width: calc(50% - 12px);
	}

	.courseCard:first-child {
		margin-top: 0;
	}

	.courseCard:not(:last-child) {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 992px) {
	.courseCard {
		flex: 1 1 calc(33% - 24px);
		max-width: calc(33%);
	}
}

@media screen and (min-width: 1400px) {
	.courseCard {
		flex: 1 1 calc(25% - 24px);
		max-width: calc(25% - 18px);
	}
}
