.categoriesTab {
	overflow-x: auto;
	white-space: nowrap;
	background-color: transparent;
}

.category {
	display: inline-block;
	text-align: center;
	line-height: normal;
	padding: 14px 0;
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

.category:first-child {
	color: #ff5733;
}

.category:first-child:after {
	content: "";
	display: block;
	width: 52px;
	height: 6px;
	background-color: #ff5733;
	border-radius: 10px;
	margin-top: 12px;
	cursor: default;
}

.category:not(:last-child) {
	margin-right: 10px;
}
