.formInput {
	position: relative;
}

label {
	font-size: 1em;
	color: rgba(51, 51, 51, 0.7);
}

label::after {
	content: "*";
	color: #b72315;
	font-size: 1.125em;
	margin-left: 3px;
}

.hidePassword {
	position: absolute;
	width: 18px;
	height: 18px;
	top: 55%;
	right: 10px;
	cursor: pointer;
}

.phoneField {
	display: grid;
	grid-template-columns: 0.25fr 1fr;
	column-gap: 12px;
}

@media screen and (max-width: 576px) {
	label {
		font-size: 0.875em;
	}

	label::after {
		font-size: 1em;
	}

	.phoneField {
		grid-template-columns: 1fr 1fr;
	}
}
