@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
	--font-price: "Poppins", sans-serif;
	--font-dropdown: "DM Sans", sans-serif;
	--font-button: "DM Sans", sans-serif;
	--font-poppins: "Poppins", sans-serif;
	--flex-feat: 1 1 calc(50% - 16px);
	--max-w-feat: calc(50% - 16px);
}

@layer components {
	.login-max-h-570 {
		@media screen and (max-height: 570px) {
			height: 100vh;
			margin: 70px auto 24px;
		}
	}

	.navbar {
		@media screen and (max-height: 570px) {
			position: fixed;
			top: 0;
			z-index: 999;
		}
	}

	.navbar-register {
		position: fixed;
		top: 0;
		z-index: 999;
	}

	.btn-large-screen {
		width: 100%;

		@media screen and (min-width: 992px) {
			position: relative;
			top: -50%;
			left: 35%;
			width: 132px;
		}
	}

	.card-sm-screen-main {
		@media screen and (min-width: 320px) {
			flex: 1 1 100%;
			max-width: 100%;
		}
	}

	.card-md-screen-main {
		@media screen and (min-width: 768px) {
			flex: 1 1 calc(50% - 20px);
			max-width: calc(50% - 12px);
		}
	}

	.card-lg-screen-main {
		@media screen and (min-width: 1200px) {
			flex: 1 1 calc(33% - 24px);
			max-width: calc(33%);
		}
	}

	.card-sm-screen-categories {
		@media screen and (min-width: 320px) {
			flex: 1 1 100%;
			max-width: 100%;
		}
	}

	.card-md-screen-categories {
		@media screen and (min-width: 705px) and (max-width: 768px) {
			flex: 1 1 calc(50% - 20px);
			max-width: calc(50% - 12px);
		}
	}
	.card-xl-screen-categories {
		@media screen and (min-width: 1250px) {
			flex: 1 1 calc(50% - 20px);
			max-width: calc(50% - 12px);
		}
	}

	.card-sm-screen-details {
		@media screen and (min-width: 320px) and (max-width: 576px) {
			flex: 1 1 100%;
			max-width: 100%;
		}
	}

	.card-md-screen-details {
		@media screen and (min-width: 768px) {
			flex: 1 1 calc(50% - 20px);
			max-width: calc(50% - 12px);
		}
	}

	.card-lg-screen-details {
		@media screen and (min-width: 1200px) {
			flex: 1 1 calc(33% - 24px);
			max-width: calc(33%);
		}
	}

	.newsletter-input-lg-screen {
		height: 40px;
		margin-bottom: 8px;
		font-size: 0.875em;

		@media screen and (min-width: 992px) {
			height: 58px;
			font-size: 1em;
			margin-bottom: 0;
			text-align: start;
		}
	}
	.slide-container {
		transition: transform 0.3s ease-in-out;
	}

	.slide-container.right {
		transform: translateX(100%);
	}

	.slide-container.left {
		transform: translateX(-100%);
	}
}

#category-marketing:checked ~ .category-marketing,
#category-digitech:checked ~ .category-digitech,
#category-selfdev:checked ~ .category-selfdev,
#category-business:checked ~ .category-business {
	@apply opacity-100;
	animation: check-anime 0.5s 1;
}

@keyframes check-anime {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
}
:root {
	--login-page-height: calc(100vh - 70px);
	--heroku-bg: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./assets/heroku-background.jpeg);
	--newsletter-bg: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./assets/newsletter-background.jpeg);
	--chevron-down: url(./assets/down-arrow.svg);

	font-family: Lato, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.7);
	background-color: rgba(255, 255, 255, 0.87);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

img {
	max-width: unset;
}

svg.star-svg {
	display: inline;
}

.Toastify__toast {
	min-width: 320px;
	width: 100%;
}
